.elements {
  width: 100%;
  margin: 0 auto;
  padding-top: 51px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 21px 19px;
}

@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: 282px 282px;
    gap: 10px;
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 540px) {
  .elements {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    padding-top: 36px;
    width: calc(100% - 38px);
    grid-gap: 0px;
  }
}