.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  grid-area: description;
  max-width: 336px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 7px auto 0;
    max-width: 282px;
  }
}