.card__like-btn {
  background-image: url('../../../images/Union.svg');
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  margin: 5px;
  padding: 0;
  cursor: pointer;
  transition: .3s ease;
}

.card__like-btn:hover {
  opacity: 0.5;
}