.element {
  width: 282px;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .element {
    margin-bottom: 20px;
  }
  .element:last-of-type {
    margin-bottom: 0;
  }
}