.card {
  width: 282px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 767px) {
  .card {
    margin-bottom: 20px;
  }
  .card:last-of-type {
    margin-bottom: 0;
  }
}